<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alata&family=Jost&family=Mansalva&family=Poppins&family=Rammetto+One&display=swap" rel="stylesheet">

    <title>TLDR</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles.css') }}">
    <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.6/build/pure-min.css" integrity="sha384-Uu6IeWbM+gzNVXJcM9XV3SohHtmWE+3VGi496jvgX1jyvDTXfdK+rfZc8C1Aehk5" crossorigin="anonymous">


</style>


</head>
<body>
    <div id="headDiv">
        <h2 id="welcomeTitle">Welcome to</h2>
        <h1 id="TLDRtitle"> TLDR </h1>
        <p id="pizza">Content Summarizer Tool</p>
    </div>

    <div>
<script>
function CopyToClipboard(containerid) {
  if (document.selection) {
    var range = document.body.createTextRange();
    range.moveToElementText(document.getElementById(containerid));
    range.select().createTextRange();
    document.execCommand("copy");
  } else if (window.getSelection) {
    var range = document.createRange();
    range.selectNode(document.getElementById(containerid));
    window.getSelection().addRange(range);
    document.execCommand("copy");
  }
}
</script>
    </div>

    <div>
    <br><br>
    <form method="post" action="/" class="pure-form">
        <textarea class="ih8this" name="enter" rows="fill" cols="fill" placeholder="Enter Text Here" align="left"></textarea>
        {%if summarised_text != "":%}
        <div id="sumDiv">
        <p id="sumText">Your summarised text<br></p>
        <hr>
            <div class="textbox" id="text">{{summarised_text}}</div><br>
        {%endif%}<br>
        {%if summarised_text == ""%}
        </div>
        <br>
        <button name="enter" type="submit" class="button" value="Submit" id = "encrypt">Submit</button>
        {%endif%}
    </form>
        {%if summarised_text != ""%}
        <button onclick="CopyToClipboard('text')" class="pure-button pure-button-primary" id="right">
            COPY
        </button>
        {%endif%}
    </div>
</body>